* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 40px;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
.barra {
    background: #083fb4;
    color: rgb(253, 253, 253);
    padding: 20px;
    

    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.titulo {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
